recursive-include webmeter/static *.html *.js *.css *.png *.py
recursive-include webmeter/templates *.html *.js *.css *.png *.py
recursive-include webmeter/public *.html *.js *.css *.png *.py
recursive-include webmeter/view *.html *.js *.css *.png *.py